@media screen  and  (min-width: 1000px) {
	.centered{
		max-width: 1000px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	article{
		h1{
			font-size: 1.7em;
			width: 13.5em;
		}
		time{
			font-size: 1.5em;
			width: 8.5em;

		}

		.speaker{
			font-size: 1.3em;
		}
	}	

}