@font-face {
    font-family: 'source_sans_pro_lightregular';
    src: url('fonts/sourcesanspro-light-webfont.eot');
    src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-light-webfont.svg#source_sans_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_code_proregular';
    src: url('fonts/sourcecodepro-regular-webfont.eot');
    src: url('fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	font-size: 62.5%;
}

body{
	font-family: 'source_sans_pro_lightregular';
	font-size: 1.5rem;
}

#css-output{
	font-family: 'source_code_proregular';
	height: 200px;
	width: 100%;
	font-size: 1.5rem;
	border: none;
}

label{
	
	display: inline-block;
	width: 10rem;
	line-height: 2;
}

img{
	margin: 50px;
}

input[type="range"]{
   -webkit-appearance:none !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background-image: -webkit-linear-gradient(top, #333333, #666666);
    height: 5px;
 }

 input[type="range"]::-webkit-slider-thumb{
   	-webkit-appearance:none !important;
	height: 20px;
	width: 20px;
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #999999, #dddddd);
	border: 1px solid #000000;
	border-radius: 13px; 
	-webkit-filter: drop-shadow(2px 2px 3px #777777);
 }

 fieldset{
 	vertical-align: top;
 	display: inline-block;
 	width: 35rem;
 	border: 2px dotted #CCCCCC;
 	border-radius: 8px;

 }