@media screen  and  (max-width: 767px) {
	article{
		h1, time, p{
			display: block;
		}
		h1:before, time:before{
			content: none;
		}
	}

}





@media screen and (max-width: 480px) {
	nav{
		ul{
			li{
				display: block;
			}
		}
	}


}


