

html { font-size: 62.5%; } 

#badge{
	background-image: url('banner.png');
	background-position: 50% 50%;
	width: 700px;
	height: 374px;
	color: #FFFFFF;
	position: relative;
}

#badge h1, #badge h2{
	text-transform: uppercase;
	text-align: center;
	width: 35rem;
	font-weight: normal;
	line-height: 1;
	padding-left: 25px;

}

#badge h1{
	font-size: 7.6rem;
	letter-spacing: -5px;
	word-spacing:.4em;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: .5em;

}
#badge h1 .first-word{
	letter-spacing: -2px;
	font-size: 9.6rem;
	display: block;
	text-align: center;
	line-height: .8;
}

#badge h2{
	margin-top: 0;
	font-size: 6rem;
	margin-top:0;
	margin-bottom: 0;
	letter-spacing: -2px;

}

#badge .location{
	position: absolute;
	right: 70px;
	top: 50px;
	height: 280px;
	width: 173px;
}

#badge p{
	padding-left: 25px;
	margin-top: 0;
	font-size: 3.1em;
	width: 35rem;
	text-align: center;
}
